{% from "security/macros/_macros.html" import render_field_with_errors, render_field, messages, menu %}
{% macro change_password_macro(change_password) %}
    {{ messages() }}
    <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
        {{ change_password.hidden_tag() }}
        {{ render_field_with_errors(change_password.password) }}
        {{ render_field_with_errors(change_password.new_password) }}
        {{ render_field_with_errors(change_password.new_password_confirm) }}
        {{ render_field(change_password.submit) }}
    </form>
    {{ menu() }}
{% endmacro %}
