{% from "security/macros/_macros.html" import render_field_with_errors, render_field, messages, menu %}
{% macro change_password_macro(change_password_form) %}
    {{ messages() }}
    <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        {{ render_field_with_errors(change_password_form.password) }}
        {{ render_field_with_errors(change_password_form.new_password) }}
        {{ render_field_with_errors(change_password_form.new_password_confirm) }}
        {{ render_field(change_password_form.submit) }}
    </form>
    {{ menu() }}
{% endmacro %}
