include .editorconfig
include AUTHORS
include CHANGES
include LICENSE
include README.rst
include pytest.ini
include tox.ini
recursive-exclude tests/__pycache__ *
recursive-include artwork *.svg
recursive-include docs *.html
recursive-include docs *.inc
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include flask_security/templates *.*
recursive-include tests *
prune scripts
